
.footer {
  background-color: #222;
  padding: 4.5rem 0;

  .social-media {
    margin-left: 0;
  }

  &Box {

    @include media-breakpoint-between(xs, sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 2.4rem;
    }


    &__text {
      h2 {
        color: $white;
        font-size: 18px;
        margin-bottom: 1.2rem;
        margin-top: 2.5rem;
      }

      p {
        color: #ffffff80;
      }

      &.krs {
        margin-top: 3rem;

        p {
          color: #ffffff40;
          font-size: 1.2rem;
        }
      }
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      color: $white;
      display: inline-flex;
      position: relative;
      width: 100%;
      padding-bottom: 1.1rem;
      margin-bottom: 1.7rem;

      @include media-breakpoint-between(xs, sm) {
        justify-content: center;
      }

      &:after {
        position: absolute;
        content: "";
        background: $primary;
        height: 3px;
        display: block;
        width: 44px;
        bottom: 0;
        left: 0;

        @include media-breakpoint-between(xs, sm) {
          left: auto;
        }
      }

    }

    &__logo {
      img {
        width: 120px;
      }
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: column wrap;

      li {
        margin-bottom: 1.6rem;
        a {
          color: #ffffff80;

          &:hover {
            color: $primary;
          }
        }
      }
    }
    #footerMenu__products {
      flex-flow: row wrap;

      li {
        width: 50%;

        @include media-breakpoint-only(lg) {
          padding-right: 20px;
        }

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
}

