.footer-offer {
  padding: 10rem 0;
  color: $white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  .subtitle-section {
    color: #ffffff80;
    max-width: 520px;
  }
}

.icon-contact {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  &__item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1.4rem;

    &:hover {
      color: $primary;
    }

    img {
      width: 24px;
      margin-right: 1rem;
    }
  }
}