.wpcf7 {
  min-height: 740px;

  label {
    width: 100%;
    margin-bottom: 1.4rem;
  }

  input, textarea {
    background: #ffffff40;
    border: 0;
    border-bottom: 1px solid #facd4d;
    padding: 1rem;
    width: 100%;
    border-radius: 0;
  }

  input[type="submit"] {
    display: inline-flex;
    background: #FFCD4C;
    color: $white;
    align-items: center;
    justify-content: center;
    width: 200px;

    &:disabled {
      opacity: 0.3;
    }
  }

  .wpcf7-list-item {
    display: block;
    margin: 0px;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
}

.comment-form-cookies-consent {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem !important;
  width: 100%;

  input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
  }

  input[type=checkbox] + label:before {
    display: block;
    position: absolute;
    content: '';
    height: 2.4rem;
    width: 2.4rem;
    top: 0px;
    left: 0px;
    border: 1px solid $black;
    border-radius: 5px;
  }

  input[type=checkbox] + label:after {
    display: block;
    position: absolute;
    content: "\f00c";
    height: 2.4rem;
    width: 2.4rem;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.4rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $primary;
  }

  input[type=checkbox]:checked + label:before {
    background: transparent;
  }

  input[type=checkbox]:checked + label:after {
    visibility: visible;
  }

  label {
    margin-left: 40px;
    display: inline-block;
    line-height: 1.5;
  }
}

.wpcf7-acceptance, #ship-to-different-address {
  label {
    display: flex;
    position: relative;
    cursor: pointer;
  }

  input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
  }

  input[type=checkbox] + span:before {
    display: block;
    position: absolute;
    content: '';
    height: 2.4rem;
    width: 2.4rem;
    top: 0px;
    left: 0px;
    border: 1px solid #ffffff80;
    border-radius: 5px;
  }

  input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: "\f00c";
    height: 2.4rem;
    width: 2.4rem;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.4rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $primary;
  }

  input[type=checkbox]:checked + span:before {
    background: transparent;
  }

  input[type=checkbox]:checked + span:after {
    visibility: visible;
  }

  .wpcf7-list-item-label, span {
    margin-left: 40px;
    display: inline-block;
    line-height: 1;
  }
}

#ship-to-different-address {
  input[type=checkbox] + span:before {
    border: 1px solid $black;
  }
}
