body.admin-bar {
  .site-header {
    top: 32px;
  }
}

.social-media {
  display: flex;
  align-items: center;
  margin-left: 3.1rem;

  @include media-breakpoint-down(md) {
    margin-left: 16px;
  }

  &__item {
    color: $white;
    font-size: 1.4rem;

    &:first-child {
      margin-right: 1.4rem;
    }

    &:hover {
      color: $primary;
    }
  }
}

.site-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 21px 0;
  transition: all 300ms ease;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }
  }

  .site-branding {
    img {
      height: 42px;
      width: auto;

      @include media-breakpoint-down(md) {
        z-index: 999999;
        position: relative;
      }
    }
  }

  .logo-black {
    display: none;
    transition: all 300ms ease;
  }

  .logo-white {
    display: block;
    transition: all 300ms ease;
  }

  .header-lang {
    border-right: 1px solid $white;
    padding: 0 3.2rem;

    @include media-breakpoint-down(md) {
      border-right: 0;
      padding: 0 0 0 16px;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .lang-item {
    list-style: none;
    padding: 0;
    margin: 0;

    a {

      &:hover {
        opacity: .8;
      }

      span {
        color: $white;
        text-transform: uppercase;
        margin-left: 1.2rem;
        font-size: 1.2rem;
      }
    }
  }

  .account {
    display: inline-flex;
    margin-left: 1.4rem;

    a {
      font-size: 2rem;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 17px;

      span {
        font-size: 2rem;
        line-height: 1;
        color: $white;
      }
    }
  }

  &.darkHeader {
    background: $white;

    .menu-button > span, .menu-button > span:after, .menu-button > span:before {
      background-color: $black;
    }

    .menu-button:before, .account a span {
      color: $black;
    }

    .menu-button.toggled-on:before {
      color: $white;
    }

    .logo-black {
      display: block;
    }

    .logo-white {
      display: none;
    }

    .header-lang {
      border-right: 1px solid $black;
    }

    .dropdown-toggle:after {
      color: $black;

      @include media-breakpoint-down(md) {
        color: $white;
      }
    }

    .main-navigation ul ul a {
      color: $white;
    }

    .social-media {

      &__item {
        color: $black;

        @include media-breakpoint-down(md) {
          color: $white;
        }

        &:hover {
          color: $primary;
        }
      }
    }

    .lang-item {
      a {
        span {
          color: $black;

          @include media-breakpoint-down(md) {
            color: $white;
          }
        }
      }
    }

    .main-navigation {
      .menu {
        border-right: 1px solid $black;

        li {
          a {
            color: $black;
            
            @include media-breakpoint-down(md) {
              color: $white;
            }

            &:hover {
              color: $primary;
            }
          }

          ul {
            a, .dropdown-toggle:after {
              color: $white;

              @include media-breakpoint-down(md) {
                color: $white;
              }
            }

          }
        }
      }
    }

    .header-cart {
      &__icon {
        i {
          color: $black;
        }
      }
    }
  }
}



.main-navigation {
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-bottom: 2rem;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0 3.1rem 0 0;
    margin: 0;
    border-right: 1px solid $white;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      border-right: 0;
      padding: 0;
      align-items: flex-start;
    }

    li {
      padding: 0 1.4rem;

      @include media-breakpoint-down(md) {
        padding: 5px 16px;
        border-bottom: 1px solid #484848;
        width: 100%;
      }

      &:first-child {
        padding: 0 16px 0 0;

        @include media-breakpoint-down(md) {
          padding: 5px 16px;
        }
      }

      &:last-child {
        padding: 0 0 0 16px;

        @include media-breakpoint-down(md) {
          padding: 5px 16px;
        }
      }

      > .sub-menu {
        li {
          padding: 1rem 1.5rem;
          border-bottom: 1px solid #222;

          &:last-child {
            padding: 1rem 1.5rem;
            border-bottom: 0;

            @include media-breakpoint-down(md) {
              padding: 1rem 1.5rem;
            }
          }

          a {
            @include media-breakpoint-down(md) {
              font-size: 1.4rem;
            }
          }
        }
      }

      a {
        color: $white;
        text-transform: uppercase;
        font-size: 1.2rem;

        @include media-breakpoint-down(md) {
          font-size: 1.8rem;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
