.partners {
  margin: 2rem 0 8rem;
  position: relative;
  overflow: hidden;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;

    &:hover {
      .partners__image {
        opacity: 0.5;
        filter: grayscale(0);
      }
    }
  }

  &__image {
    transition: all 300ms ease;
    opacity: 0.35;
    filter: grayscale(100%);
  }
}