.boxs-loft {
  .box {

    &__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.5);
    }

    &__text {
      min-height: 127px;
    }
  }
}

.box {

  &__item {
    height: 100%;
  }

  &__thumb {
    width: 100%;
    height: 280px;
    background-position: center;
    background-size: cover;
  }

  &__content {
    padding: 25px;
    background: $white;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__text {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 4rem;
  }
}