.icons-text {
  padding: 10rem 0;

  @include media-breakpoint-down(sm) {
    padding: 4rem 0;
  }

  .features {
    &__box {
      flex-direction: row;
      display: flex;
      align-items: flex-start;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
      }

      .section-title {
        color: $white;
      }
    }

    &__image {
      margin-right: 2.4rem;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      img {
        width: auto;
        height: auto;
      }
    }
    &__content {
      width: 67%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

  }


  &.black-text {
    .section-title, .features__box p {
      color: $black;
    }
  }
}