.realization-gallery {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(130px, auto);
    grid-auto-flow: dense;
    padding: 10px;
    margin-top: 3rem;

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }

  &__item {

    &:first-child, &:nth-child(2), &:nth-child(22), &:nth-child(23) {
      grid-column-end: span 3;
      grid-row-end: span 2;

      @include media-breakpoint-between(xs, sm) {
        grid-column-end: span 1;
        grid-row-end: span 1;
      }
    }

   &:nth-child(5), &:nth-child(17) {
      grid-column-end: span 1;
      grid-row-end: span 2;

     @include media-breakpoint-between(xs, sm) {
       grid-column-end: span 1;
       grid-row-end: span 1;
     }
    }

    img {
      width: 100%;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    color: $white;
  }
}