.blog {
  .titleCenter__wrapper {
    .section-title {
      &:before {
        left: 11%;
      }
    }
  }
}

.sliderBlog {

  .swiper-slide {
    &__bg {
      height: 290px;

      @include media-breakpoint-between(xs, md) {
        height: 169px;
      }

    }
  }
}