.boxs {
  margin-top: -114px;
  padding-bottom: 7rem;
  background: #f7f7f7;

  @include media-breakpoint-only(lg) {
    margin-top: 6rem;
    background-size: 126px;
  }

  @include media-breakpoint-down(md) {
    margin-top: -2rem;
  }

  @include media-breakpoint-between(xs, sm) {
    background-size: 50%;
  }
}

.box-products {
  box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.5);
  background: bottom right no-repeat $white ;
  padding: 4.1rem 3.5rem;
  height: 100%;

  @include media-breakpoint-only(lg) {
    background-size: 118px;
  }

  @include media-breakpoint-between(xs, sm) {
    background-size: 121px;
  }

  @include media-breakpoint-between(sm, md) {
    background-size: auto;
  }

  @include media-breakpoint-only(md) {
    background-size: 121px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .section-text {
    max-width: 280px;
    width: 100%;

    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 2.8rem 0 8rem;

    li {
      padding-left: 25px;
      background-image: url("../svg/ic-chevron-right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;

      @include media-breakpoint-down(lg) {
        font-size: 1.4rem;
      }
    }
  }
}