.features {
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  color: $white;

  &__box {
    margin-bottom: 5.5rem;

    &.centerBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .section-text {
        margin-bottom: 3rem;
      }
    }

    .section-title {
      font-size: 2.2rem;
      margin-bottom: 2.2rem;
    }

    p {
      color: rgba(255, 255, 255, 0.75);

      @include media-breakpoint-between(xs, sm) {
        text-align: center;
      }
    }
  }
}