.hero {
  &-page {
    padding-bottom: 16rem;
    max-height: 640px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 20%;
      height: 45vh;
    }

    .section-title {
      max-width: 920px;
      line-height: 1.4;
    }
  }

  &-center {
    max-height: 433px;
    padding-bottom: 10rem;
    margin-bottom: 8rem;

    @include media-breakpoint-between(sm, md) {
      max-height: 333px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 30%;
      height: 45vh;
    }

    &:before {
      display: none;
    }

    .section-title {
      @include media-breakpoint-down(sm) {
        margin-bottom: 0 !important;
      }
    }
  }
}
