body.home {
  .hero {
    @include media-breakpoint-between(sm, md) {
      height: 100vh;
    }
  }
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @include media-breakpoint-between(sm, md) {
    height: 55vh;
    padding-top: 120px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 90px;
  }

  .container, .row {
    height: 100%;
  }

  .row {
    @include media-breakpoint-between(xs, md) {
      align-items: flex-end !important;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__link {
    @include media-breakpoint-between(xs, md) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .btn {
      transition: all 300ms ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: minmax(150px, auto);
    grid-auto-flow: dense;
    padding: 0px;

    @include media-breakpoint-between(xl, xxl) {
      grid-auto-rows: minmax(130px, auto);
    }

    @include media-breakpoint-between(lg, xl) {
      grid-auto-rows: minmax(120px, auto);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    .hero__item {
      overflow: hidden;

      &:first-child {
        grid-column-end: span 3;
        grid-row-end: span 2;

        @include media-breakpoint-only(lg) {
          grid-row-end: span 3;
        }
      }

      &:nth-child(2), &:nth-child(3) {
        grid-column-end: span 2;
        grid-row-end: span 1;

        @include media-breakpoint-only(lg) {
          grid-column-end: span 1;
        }
      }

      &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
        grid-column-end: span 1;
        grid-row-end: span 1;
      }
    }

    .hero__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .sliderHeroHome {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      padding-bottom: 0;
      margin-bottom: 5rem;
    }

    .swiper-slide {
      background: transparent;
      overflow: hidden;

      @include media-breakpoint-between(xs, sm) {
        height: 103px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
      }

      @include media-breakpoint-between(sm, md) {
        height: 130px;
        align-items: center;
        justify-content: center;
      }

      @include media-breakpoint-between(md, lg) {
        height: 180px;
        align-items: center;
        justify-content: center;
      }

      img {
        @include media-breakpoint-between(xs, sm) {
          width: auto;
          height: 200px;
        }

        @include media-breakpoint-between(sm, md) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .section-title, .section-text {
    color: $white;

    @include media-breakpoint-between(xs, md) {
      text-align: center;
    }
  }

  .section-title {
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1;

    @include media-breakpoint-between(xs, md) {
      font-size: 2.4rem;
    }
  }

  .section-text {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

}