.movie {
  padding: 8rem 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  @include media-breakpoint-between(xs, sm) {
    padding: 4rem 0;
  }

  &__wrapper {
    width: auto;
    position: relative;

    @include media-breakpoint-between(xs, sm) {
      margin-bottom: 5rem;
    }

    @include media-breakpoint-between(sm, md) {
      margin-bottom: 10rem;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: #e7e7e7;
      bottom: -40px;
      right: -20px;
      z-index: 0;

      @include media-breakpoint-between(xs, sm) {
        width: 96%;
        bottom: -10px;
        right: 3px;
      }

      @include media-breakpoint-between(sm, md) {
        width: 96%;
        bottom: -37px;
        right: 0px;
      }
    }
  }

  &__btn {
    @include media-breakpoint-between(xs, md) {
      display: flex;
      justify-content: center;
    }
  }

  .section-title {
    font-size: 2.2rem;
  }

  .section-text {
    margin-bottom: 2.4rem;

    @include media-breakpoint-between(xs, sm) {
      text-align: center;
    }

    p {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

.plyr--video {
  background: #000;
  overflow: hidden;
  width: 97%;
  border-radius: 7px;
  border-color: transparent;

  button.plyr__control.plyr__control--overlaid {
    width: 60px;
    height: 60px;
    background: #ffffff4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      background-image: url('../svg/play-button.svg');
      background-repeat: no-repeat;
      width: 28px;
      height: 32px;
      display: block;
    }

    svg {
      display: none;
    }
  }
}

.plyr.plyr--stopped .plyr__controls { display: none }