.realization {
  position: relative;
  overflow: hidden;

  &__btn {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.titleCenter {
  padding: 8rem 0;

  @include media-breakpoint-between(xs, sm) {
    padding: 4rem 0;
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .section-text {
      max-width: 666px;
      width: 100%;
      text-align: center;
      margin: 1.2rem 0 2.4rem;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
  margin-top: 5rem;

  .swiper-pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;

    &-bullet {
      display: inline-flex;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: rgba(34, 34, 34, 0.15);
      margin-right: 1.2rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.swiper-pagination-bullet-active {
        background: $primary;
      }
    }
  }
}

.swiper-slide {
  text-align: left;
  font-size: 1.8rem;
  background: $white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.5);
  height: 100%;

  &__bg {
    width: 100%;
    height: 212px;
    margin-bottom: 2.4rem;
    overflow: hidden;

    @include media-breakpoint-between(xs, md) {
      height: 169px;
    }

    img {
      width: 100%;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.75);

    @include media-breakpoint-between(xs, md) {
      justify-content: flex-start;
      margin-bottom: 2.4rem;
    }
  }

  &__content {
    padding: 0 2.5rem;

    .section-title {
      text-transform: none;

      @include media-breakpoint-between(xs, sm) {
        font-size: 1.6rem;;
      }

      @include media-breakpoint-between(xs, md) {
        text-align: left;
      }

      &:after {
        @include media-breakpoint-between(xs, md) {
          left: 0;
        }
      }

    }
  }

  &__text {
    font-size: 1.4rem;
    min-height: 70px;
    color: rgba(0, 0, 0, 0.75);
  }

  &__link {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-between(xs, md) {
      justify-content: flex-start;
      margin-top: 2rem;
    }
  }
}