.section-about {
  background-size: cover;
  background-position: center;
  padding: 16rem 0;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-between(xs, md) {
    padding: 6rem 0;
  }

  img {
    @include media-breakpoint-between(xs, md) {
      max-width: 90%;
      margin: 0 auto;
      display: block;
    }
  }

  &__pic {
    max-width: 300px;
  }

  &__btn {
    @include media-breakpoint-between(xs, md) {
      display: flex;
      justify-content: center;
    }
  }

  .section-text {
    margin: 2.4rem 0;
    position: relative;
    padding-top: 1.2rem;

    @include media-breakpoint-between(xs, md) {
      margin: 5rem 0 2.4rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      background-color: $primary;
      height: 4px;

      @include media-breakpoint-between(xs, sm) {
        left: 44%;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.75);

      @include media-breakpoint-between(xs, sm) {
      text-align: center;
      }
    }
  }
}