
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.4rem;
  color: $black;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

*, *:hover, *:focus {
  outline: 0 !important;
}

.transition, %transition {
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;

  @include media-breakpoint-between(xs, sm) {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

.section-title {

  &.bottomLine {
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;

    @include media-breakpoint-between(xs, sm) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 44px;
      background-color: $primary;
      height: 4px;

      @include media-breakpoint-between(xs, sm) {
        left: auto;
      }
    }
  }

  &.topLine {
    position: relative;
    padding-top: 1.2rem;

    @include media-breakpoint-between(xs, sm) {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      background-color: $primary;
      height: 4px;

      @include media-breakpoint-between(xs, sm) {
        left: auto;
        position: relative;
        top: auto;
        margin-bottom: 1rem;
      }
    }
  }

  &.centerLine {
    position: relative;
    padding-top: 2.4rem;
    text-align: center;
    @include flex-center;
    flex-direction: column;

    &:before {
      content: "";
      width: 44px;
      background-color: $primary;
      height: 4px;
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.black-overlay {
  position: relative;
  background-size: cover;
  background-position: center;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.spacer-10 {
  height: 10rem;
  display: block;
  width: 100%;
}

img {
  width: 100%;
}

select, input[type="checkbox"], button, a {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.parent-title {
  color: $primary;
}

.page-content {
  padding-bottom: 8rem;
}

.fancybox-thumbs {
  bottom: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
  height: 75px;
  background: transparent;

  &__list {
    display: flex;
    justify-content: center;

    a {
      border: 1px solid $white;

      &:before {
        border: 1px solid $white;
      }
    }
  }
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0;
  width: 100%;
  height: calc(100vh - 80px);
}

.fancybox-thumbs__list a {
  margin: 1px;
  max-height: calc(100% - 2px);
}

input[type="submit"], input[type="radio"], input[type="checkbox"], button {
  cursor: pointer;
}

.woocommerce-shipping-fields {
  @include media-breakpoint-down(md) {
    margin-top: 4rem;
  }

  h3 {
    margin-bottom: 4.6rem !important;
  }
}