.btn {
  display: inline-flex;
  text-align: center;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.7rem;
  border: 1px solid transparent;
  border-radius: 0;

  &-black {
    color: $black;
    border: 1px solid $black;

    &:hover {
      border: 1px solid $primary;
      color: $white;
      background-color: $primary;
    }
  }

  &-white {
    color: $white;
    border: 1px solid $white;

    &:hover {
      background-color: #ffffff38;
    }
  }

  &-yellow {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  &-black-link {
    color: $black;
    padding: 0;

    &:after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-left: 17px;
    }

    &:hover {
      color: $primary;
    }
  }
}


p {
  a {
    border-bottom: 2px solid #FFCD4E;
  }
}