.gallery-with-text {
  padding: 8rem 0;
}

.gallery-big {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: flex-start;

  &__btn {
    margin-top: 2rem;

    @include media-breakpoint-between(xs, sm) {
      display: flex;
      justify-content: center;
    }
  }

  a {
    &:first-child {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:nth-child(5n+1) {
      padding-right: 0;
    }

    &:not(:first-child) {
      width: 20%;
      display: inline-block;
      padding-right: 1rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }
}