.menu-button {
  height: 30px;
  width: 20px;
  display: none;
  z-index: 101;
  position: relative;
  margin-right: 2.5rem;

  > span {
    background-color: #fff;
    border-radius: 1px;
    height: 25px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;

    &:after, &:before {
      content: '';
      background-color: #fff;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      transition: all 200ms;
    }

    &:after {
      top: -7px;
    }

    &:before {
      bottom: -7px;
    }
  }

  &.act {
    > span {
      height: 0;

      &:after, &:before {
        background-color: $white;
        top: 1px;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .menuBtn {
    display: block;
  }

  .main-navigation {

    &.act {
      display: flex;
      width: 100%;
      height: calc(100vh - 85px);
      position: absolute;
      top: 85px;
      left: 0;
      background: $black;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;

      .menu {
        flex-direction: column;
        padding: 0;
        margin: 0;
        border-right: 0;

        li {
          padding: 0 !important;
        }
      }

      .header-lang {
        border-right: 0;
        padding: 0;
        margin: 1.4rem 0;
      }

      .social-media {
        margin-left: 0;
      }

    }
  }
}

.blackBg {
  background-color: $black;
}