.img-text-box {
  margin: 5rem 0;

  &__photo {
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-bottom: 9rem;
      width: 90%;
    }

    &:before {
      content: "";
      position: absolute;
      width: 96%;
      height: 100%;
      border-radius: 4px;
      background-color: #e7e7e7;
      bottom: -30px;
      right: -8px;
      z-index: 0;

      @include media-breakpoint-down(md) {
        right: -30px;
      }
    }
  }

  &__image {
    max-width: 630px;
    position: relative;
    z-index: 1;
  }

  &__link {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
  }

  &__content {

    @include media-breakpoint-between(xs, sm) {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0 0 2rem;
      padding: 0;

      @include media-breakpoint-between(xs, sm) {
        align-items: center;
      }

      li {
        display: inline-flex;
        align-items: center;

        &::before {
          @extend .material-icons;
          content: "done";
          color: $primary;
          margin-right: 5px;
        }
      }
    }
  }
}