
.menu-container {
  width: calc(100vw - 110px);
  display: flex;
  justify-content: flex-end;
}


.site-header-menu {
  display: none;
  font-size: 1.5rem;
}

.main-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-right: 40px;

      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }

    a,
    a:visited {
      color: $white;
      border-bottom: 3px solid transparent;
      text-decoration: none;
    }

    a {
      &:hover {
        border-bottom: 3px solid transparent;
        color: $primary;
      }
    }

    ul {
      display: none;
      margin-top: 0px;

      li {
        a {
          font-size: 1.4rem;
        }
      }

      ul {
        display: none;

        li {
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}


.no-js .site-header-menu,
.site-header-menu.toggled-on {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $black;
  flex-direction: column;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 24%;
}

.site-header-menu.toggled-on {
  margin-top: 0px;
  overflow-x: auto;
}

.no-js .main-navigation ul,
.main-navigation ul .sub-menu.toggled-on {
  display: block;
}

button.dropdown-toggle,
button.menu-button {
  display: inline;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  content: "";
}

button.dropdown-toggle {
  position: absolute;
  right: 10px;
  display: inline-flex;

  @include media-breakpoint-down(lg) {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    right: 0px;
    height: 23px;
    align-items: center;
  }
}

.dropdown-toggle:after,
.dropdown-toggle.toggled-on:after {
  font-size: 1.3rem;
}

.menu-button {
  float: none;
  padding: 0;
  font-size: 1.5rem;
}

.menu-button:before,
.menu-button.toggled-on:before {
  margin-right: 5px;
  padding-top: -10px;
}

.main-navigation a:focus,
button.dropdown-toggle:focus,
button.menu-button:focus {
  outline: 1px dotted grey;
  outline-offset: 2px;
}

.no-js .menu-button {
  display: none;
}

/* Plus symbol to expand sub-menu on mobile */
.dropdown-toggle:after {
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $white;
  margin-left: .9rem;
  border: 0;
  line-height: 0;
}

/* Minus symbol to collapse sub-menu on mobile */
.dropdown-toggle.toggled-on:after {
  content: "\2212";
}

/* 'Hamburger' or bars to expand menu on mobile*/
.menu-button:before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $white;
  font-size: 1.8rem;
}

/* Times (x) to collapse menu on mobile*/
.menu-button.toggled-on:before {
  content: "\f00d";
  font-size: 1.8rem;
  color: $white;
}

.dropdown-toggle:after,
.dropdown-toggle.toggled-on:after,
.menu-button:before,
.menu-button.toggled-on:before {
  font-weight: bold;
}

/* Screen readers */
.screen-readers {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  word-break: normal !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Desktop media query */
@media only screen and (min-width: 992px) {
  button.menu-button {
    display: none;
  }

  .site-header-menu {
    display: flex;
    margin-left: 10px;
  }
  .main-navigation ul {
    position: relative;
    float: left;
  }
  .main-navigation ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 10px;
  }
  .no-js .main-navigation ul ul,
  .main-navigation ul ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    margin-left: 0;
    background-color: $black;
    z-index: 999;
  }
  .no-js .main-navigation ul ul li,
  .main-navigation ul ul li {
    float: none;
    width: 220px;
    padding: 4px 10px;
  }
  .main-navigation ul .has-sub-menu > li {
    padding-right: 40px;
  }
  .no-js .main-navigation ul ul ul,
  .main-navigation ul ul ul {
    top: 0;
    left: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  ul.sub-menu .dropdown-toggle {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    align-items: center;
  }

  /* Arrow down */
  .main-navigation ul .dropdown-toggle:after {
    //content: "\2193";
  }

  /* Arrow right */
  .main-navigation ul ul .dropdown-toggle:after {
    content: "\f054";
  }

  /* Arrow up */
  .main-navigation ul .dropdown-toggle.toggled-on:after {
    content: "\f077";
  }

  /* Arrow left */
  .main-navigation ul ul .dropdown-toggle.toggled-on:after {
    content: "\f104";
  }

  .main-navigation ul .dropdown-toggle:after,
  .main-navigation ul ul .dropdown-toggle:after,
  .main-navigation ul .dropdown-toggle.toggled-on:after,
  .main-navigation ul ul .dropdown-toggle.toggled-on:after {
    font-weight: bold;
  }

  button.dropdown-toggle {
    position: inherit;
    right: auto;
  }
  .main-navigation ul li:hover > ul {
    display: block;
  }
}