ul.sub-menu {
  display: none;

  &.active {
    position: absolute;
    background: #fff;
    color: black;
    top: 84px;
    width: 100%;
    list-style: none;
    display: flex;
    padding: 4rem 0;
    margin: 0;
    left: 0;
    justify-content: center;

    li {

      .sub-menu {
        display: block;

        li {
          padding: 0;
        }

        .menu-item-has-children {
         a {
           &:after {
             display: none;
           }
         }
        }
      }

      a {
        color: $black;
      }
    }
  }
}

.darkHeader {
  ul.menu {
   > li.menu-item-has-children {
     > a {
        &:after {
          color: $black;
        }
      }
    }
  }
}
