.partner-section {
  padding: 8rem 0;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding: 4rem 0;
  }

  .section-text {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}