.mini-cart {
  display: flex;
  position: absolute;
  top: 54px;
  width: 400px;
  right: 3px;
  flex-direction: column;
  background: #000;
  color: #fff;
  padding: 20px;
}

.header-cart {
  @include flex-center;
  width: 27px;
  position: relative;

  &__icon {
    @include flex-center;

    i {
      font-size: 1.6rem;
      margin-left: 1.4rem;
      color: $white;
    }
  }

  #mini-cart-count {
    position: absolute;
    background-color: $primary;
    color: $black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    bottom: -7px;
    right: -8px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}


.cart-flyout {
  position: fixed;
  top: 0;
  width: 420px;
  padding: 50px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;

  .cart-flyout--inner {
    display: block;
    height: 100%;
    position: relative;
  }

  a.button.wc-forward {
    @extend .btn;
    @extend .btn-yellow;
  }

  a.remove.remove_from_cart_button {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
  }

  .btn-close-cart {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    line-height: 30px;

    i {
      vertical-align: middle;
    }

  }

  .cart-flyout__content {
    padding-top: 50px;
  }

  .cart_list {
    margin: 0 -30px 0 0;
    padding: 0 30px 0 0;
    max-height: 310px;
    max-height: calc(100vh - 430px);
    max-height: -webkit-calc(100vh - 430px);
    overflow: auto;

    li.empty {
      padding: 50px 0;
    }

    .quantity {
      .amount {
        font-size: inherit;
        color: inherit;
      }
    }
  }

  .cart-flyout__heading {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .widget_shopping_cart_content {
    overflow: hidden;
    opacity: 1;

    .total {
      border: none;
      text-transform: none;
      margin-bottom: 35px;

      .amount {
        font-size: 18px;
      }
    }

    .button {
      width: 100%;
      display: block;
      margin: 10px 0 0;
      text-align: center;
      line-height: 20px;
      padding: 20px 20px;
    }
  }

  .cart-flyout__loading {
    text-align: center;
    display: block;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  &.cart-flyout--loading {
    .cart-flyout__loading {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    .widget_shopping_cart_content {
      opacity: 0;
      transition: opacity 400ms ease-out;
    }
  }
}

.open-cart-aside {
  overflow: hidden;

  .cart-flyout {
    visibility: visible;
    opacity: 1;
    background: $white;
    z-index: 9999;
  }
}

.cart-flyout--inner {
  li.woocommerce-mini-cart-item.mini_cart_item {
    border-bottom: 1px solid #d8d6d6;
    padding-bottom: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    img {
      float: left !important;
      max-width: 70px !important;
      margin-right: 20px;
      height: auto;
    }
  }
}

button[name="update_cart"] {
  min-height: 46px;
}