.shop-filters{

  form.woocommerce-product-search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 0;
    padding: 5px;

    input {
      border: 0;
      box-shadow: none;

      &.search-field {
        width: 99%;
      }
    }

    button {
      border: 0;
      box-shadow: none;
      background: transparent;
      font-size: 0;

      &:before {
        content: "search";
        @extend .material-icons;
      }
    }
  }

  div.widget {
    margin-bottom: 4rem;
  }

  ul.product-categories {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    li {
      padding: .5rem;

      &.current-cat {
        font-weight: bold;
        color: $primary;
      }
    }
  }
}

.show-filters {
  margin-bottom: 2rem;
}

.woocommerce .woocommerce-ordering {
  margin: 0 0 3em;
}

select.orderby {
  border-radius: 0;
  padding: 5px;
  box-shadow: none;
  border: 1px solid #000;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: $primary !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: $black !important;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: .3em !important;
}