.products-widget {
  padding: 8rem 0;

  .section-title {
    margin-bottom: 5rem;
  }
}

.small-product {
  margin-bottom: 1.6rem;

  .section-title {
    margin-bottom: 1.6rem;

    @include media-breakpoint-down(xl) {
      min-height: 82px;
    }
  }

  &__photo {
    display: flex;
    background: #fff;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.4rem;

    @include media-breakpoint-down(lg) {
      min-height: 200px;
    }

    img {
      width: auto;
      height: 300px;

      @include media-breakpoint-down(lg) {
        height: 200px;
      }
    }
  }

  &__price {
    font-size: 2.2rem;
    color: #0009;
    margin-bottom: 1rem;
  }
}