.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  margin-top: 1%;
}

form.variations_form.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4rem;

  table.variations {
    tr {
      display: flex;
      flex-direction: column;
    }
  }
}

.product_meta {
  display: flex;
  flex-direction: column;
}

.woocommerce div.product form.cart .button, .woocommerce ul.products li.product .button, .woocommerce #review_form #respond .form-submit input,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @extend .btn;
  @extend .btn-black;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  @extend .btn;
  @extend .btn-yellow;
}


.woocommerce, .woocommerce-page {

  .product_title, .woocommerce-loop-product__title {
    @extend .section-title;
    @extend .topLine;
    margin-bottom: 2rem;
    padding-top: 1.4rem !important;
    min-height: 60px;

    @include media-breakpoint-between(lg, xl) {
      min-height: 86px;
    }

    @include media-breakpoint-between(xs, sm) {
      min-height: 122px;
    }
  }

  .quantity {
    .qty {
      width: 3.631em;
      text-align: center;
      height: 46px;
      display: block;
    }
  }

  p {
    img {
      height: auto;
      max-width: initial;
      width: auto;
    }
  }

  ul.products {
    li.product {
      .price {
        color: #0009;
        display: block;
        font-weight: bold;
        margin-bottom: .5em;
        font-size: 2.2rem;

        @include media-breakpoint-between(lg, xl) {
          font-size: 1.6rem;
        }

        @include media-breakpoint-down(sm) {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
  }

  div.product {
    form.cart {
      .variations {
        select {
          padding: 5px;
          margin-bottom: 6px;

          @include media-breakpoint-down(sm) {
            max-width: initial;
            min-width: initial;
            display: inline-block;
            margin-right: 0;
            width: 100%;
          }
        }
      }
    }

    p.price, span.price {
      color: #0009;
      font-size: 2.2rem;
      font-weight: bold;
    }

    .woocommerce-tabs {
      .panel {
        h2 {
          font-size: 3rem;
          @extend .section-title;
          @extend .bottomLine;
          margin-bottom: 4rem;
        }
      }
    }
  }

  .related.products {
    margin-top: 6rem;

    > h2 {
      font-size: 3rem;
      @extend .section-title;
      @extend .bottomLine;
      margin-bottom: 4rem;
    }
  }

  table.shop_table {
    display: table;
  }
}

body.woocommerce-cart {
  .woocommerce {
    display: flex;
    flex-wrap: wrap;

    .woocommerce-cart-form {
      width: 48%;
      margin-right: 2%;

      h2 {
        font-size: 3rem;
      }

      @include media-breakpoint-down(lg) {
        width: 100%;
        margin-right: 0;
      }
    }

    .cart-collaterals {
      width: 50%;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    .cart_totals {
      width: 100%;

      h2 {
        font-size: 3rem;
      }
    }
  }

  .variations {
    tr {
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  p.cart-empty {
    width: 100%;
  }

}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 180px;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
  padding: 10px 6px 9px 10px;
  min-height: 46px;
}

a.reset_variations {
  border: 1px solid red;
  min-height: 36px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  color: red;
}

.pswp__caption__center {
  text-align: center;
}
.woocommerce-product-details__short-description {
  margin-bottom: 2rem;
}

figure.woocommerce-product-gallery__wrapper {
  .woocommerce-product-gallery__image{
    &:first-child {
      a {
        max-height: 500px;
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
        }
      }
    }

    a {
      img {
        width: 100%;
      }
    }
  }
}

form#commentform {
  max-width: 700px;

  input, textarea {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    min-height: 46px;

    &:focus, &:active {
      border-bottom: 2px solid $primary;
    }
  }

  p.stars {
    width: 90px;
  }

  p.comment-form-author, .comment-form-email {
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    padding-right: 20px;
  }

  .comment-form-email {
    padding-right: 0px;
  }
}

.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border: 1px solid #d3ced2;
  background: #fff;
  z-index: 2;
  border-bottom-color: #fff;

}

div.product .woocommerce-tabs ul.tabs li {
  border: 0;
  background-color: #facd4d;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px;
  padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after, .woocommerce div.product .woocommerce-tabs ul.tabs::before {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  @include media-breakpoint-down(sm) {
    width: 100%;
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  width: 100%;
}

.product__photo {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  margin-bottom: 2rem;
  align-items: center;
  position: relative;

  @include media-breakpoint-between(lg, xl) {
    height: 180px;
  }

  img {
    width: auto !important;
    height: 100% !important;
    margin: 0 !important;

    @include media-breakpoint-down(md) {
      width: 100% !important;
      height: auto !important;
    }
  }

  .star-rating {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  @include media-breakpoint-down(sm) {
    float: left;
  }
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
  float: left;
  height: 36px;
  display: inline-flex;
  align-items: center;
}