body.woocommerce-checkout {

}

.woocommerce, .woocommerce-page {
  .col2-set {
    display: flex;
    flex-wrap: wrap;

    .col-1, .col-2 {
      flex: 0 0 48%;
      max-width: 48%;

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      h3 {
        @extend .section-title;
        @extend .bottomLine;
        margin-bottom: 4rem;
      }

      .woocommerce-billing-fields, .woocommerce-shipping-fields, .woocommerce-additional-fields {
        select {
          border: 1px solid #ccc;
          border-radius: 0;
          padding: 10px 15px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
          color: $black;
          line-height: 28px;
          padding: 8px 15px;
          height: 100%;
        }

        .select2-container--default .select2-selection--single {
          height: 100%;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 44px;
        }

        input, textarea {
          border: 1px solid #ccc;
          border-radius: 0;
          padding: 10px 15px;
          box-shadow: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          min-height: 46px;

          &:focus, &:active {
            border-bottom: 2px solid $primary;
          }
        }
      }
    }

    .woocommerce-terms-and-conditions-wrapper {
      margin-bottom: 3rem;
    }
  }

  h3#order_review_heading {
    margin-top: 0;

    @include media-breakpoint-down(md) {
      margin-top: 4rem;
    }
  }

  h3#ship-to-different-address {
    margin-bottom: 0 !important;
    margin: 2rem 0 2rem;
  }

  .woocommerce-additional-fields {
    margin-top: 1rem;
  }

  ul.order_details {
    margin: 0 0 3em;
    list-style: none;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;

      li {
        border: 0;
        margin-bottom: 1.2rem;
      }
    }
  }

  address {
    @include media-breakpoint-down(md) {
      margin-bottom: 6rem;
    }
  }

  form .form-row label {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

.woocommerce-order {
  h2 {
    @extend .section-title;
    @extend .bottomLine;
    margin-bottom: 4rem;
    font-size: 3rem;
  }
}

a.showcoupon {
  font-weight: bold;
}

form.checkout_coupon {
  border: 1px dashed #d3ced2 !important;

  .form-row-first {
    width: 30%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .form-row-last {
    width: auto;
    float: left;
  }

  input, textarea {
    min-height: 46px;
  }
}

.shipping-calculator-form {
  .input-text {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    min-height: 46px;

    &:focus, &:active {
      border-bottom: 2px solid $primary;
    }
  }

  select {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $black;
    line-height: 28px;
    padding: 8px 15px;
    height: 100%;
  }

  .select2-container--default .select2-selection--single {
    height: 100%;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 44px;
  }
}

.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.shipping-calculator-button {
  @include media-breakpoint-only(md) {
    margin-top: 0 !important;
  }
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  border: 0;
  padding: 0;
}

#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
  border: 1px solid $black;
  padding: 10px;
  margin-bottom: 10px;
}

div#order_review {
  border: 2px solid $black;
  position: relative;

  #payment{
    background: $white;
  }

  table.shop_table {
    border: 0;
    border-radius: 0;
  }

  button#place_order {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #000;
    border: 0;
    margin-top: 0;
    margin-bottom: 0 !important;
  }

  .form-row {
    margin: 0 !important;
  }

  .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 6rem;
  }

  ul.wc_payment_methods.payment_methods.methods {
    padding: 0 1rem !important;
  }
}