.woocommerce nav.woocommerce-pagination {
  ul {
    border: 0;
    margin: 2rem 0 6rem;

    li {
      border: 0;

      span.current {
        background: $primary;
        color: $black;
      }

      a, span {
        font-size: 2rem;
      }
    }
  }
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  display: flex;
  flex-direction: column;
}

a.added_to_cart.wc-forward {
  @extend .btn;
  @extend .btn-yellow;
  margin-top: 1.4rem;
}

p.woocommerce-mini-cart__buttons.buttons {
  a {
    @extend .btn;
    @extend .btn-white;
  }
}

.woocommerce-notices-wrapper {
  width: 100%;
}

.woocommerce img, .woocommerce-page img {
  height: auto;
  max-width: initial !important;
}